In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('local_spark').getOrCreate()

In [2]:
spark

In [8]:
spark_df = spark.read.csv('students.csv',header=True,inferSchema=True)

spark_df.head(5)

[Row(id=1, name='Emily Hardie', class='Four', mark=75, gender='female'),
 Row(id=2, name='John Star', class='Three', mark=85, gender='male'),
 Row(id=3, name='Arnold Walker ', class='Three', mark=55, gender='male'),
 Row(id=4, name='Reana Talu', class='Four', mark=60, gender='female'),
 Row(id=5, name='Sidona Williams', class='Four', mark=60, gender='female')]

In [10]:
spark_df2 = spark.read.format('csv').option('inferSchema',True).option('header',True).option('sep',True).load('students.csv')

spark_df2.head(5)

[Row(id,name,class,mark,gender='1,Emily Hardie,Four,75,female'),
 Row(id,name,class,mark,gender='2,John Star,Three,85,male'),
 Row(id,name,class,mark,gender='3,Arnold Walker ,Three,55,male'),
 Row(id,name,class,mark,gender='4,Reana Talu,Four,60,female'),
 Row(id,name,class,mark,gender='5,Sidona Williams,Four,60,female')]

15 .Create a view from the dataframe and filter it by using SQL syntax