In [66]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

Write a Pandas program to create and display a one-dimensional array-like object containing an array of data

In [67]:
data = pd.Series([2, 4, 6, 8, 10])
data

0     2
1     4
2     6
3     8
4    10
dtype: int64

Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [68]:
data_list = data.tolist()
data_list

[2, 4, 6, 8, 10]

In [69]:
type(data_list)

list

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [70]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])

s1 + s2, s1 - s2, s1 * s2, s1 / s2

(0     3
 1     7
 2    11
 3    15
 4    19
 dtype: int64,
 0    1
 1    1
 2    1
 3    1
 4    1
 dtype: int64,
 0     2
 1    12
 2    30
 3    56
 4    90
 dtype: int64,
 0    2.000000
 1    1.333333
 2    1.200000
 3    1.142857
 4    1.111111
 dtype: float64)

Write a Pandas program to compare the elements of the two Pandas Series.

In [71]:
s1 == s2

0    False
1    False
2    False
3    False
4    False
dtype: bool

Write a Pandas program to convert a dictionary to a Pandas series.

In [72]:
my_dict = {
    'a': 100, 
    'b': 200, 
    'c': 300, 
    'd': 400, 
    'e': 800
    }

dict_series = pd.Series(my_dict)
dict_series

a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Pandas program to convert a NumPy array to a Pandas series.

In [73]:
arr = np.array([10, 20, 30, 40, 50])

arr_series = pd.Series(arr)
arr_series

0    10
1    20
2    30
3    40
4    50
dtype: int32

Write a Pandas program to change the data type of given a column or a Series.

In [74]:
q7 = pd.Series([100, 200, 'python', 300.12, 400])
q7_num = pd.to_numeric(q7, errors='coerce')
q7_num

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

Write a Pandas program to convert the first column of a DataFrame as a Series.

In [75]:

sample_dict = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(sample_dict)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [76]:
df.loc[:, 'col1']

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

Write a Pandas program to convert a given Series to an array.

In [77]:
q9 = pd.Series([100, 200, 'python', 300.12, 400])
q9_arr = pd.array(q9)
q9_arr

<PandasArray>
[100, 200, 'python', 300.12, 400]
Length: 5, dtype: object

Write a Pandas program to convert Series of lists to one Series.

In [78]:
q10 = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
q10 = q10.apply(pd.Series).stack().reset_index(drop=True)
q10

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to sort a given Series.

In [79]:
q11 = pd.Series(['100', '200', 'python', '300.12', '400'])

q11_sorted = pd.Series(q11).sort_values()
q11_sorted

0       100
1       200
3    300.12
4       400
2    python
dtype: object

Write a Pandas program to add some data to an existing Series.

In [80]:
q12 = pd.Series(['100', '200', 'python', '300.12', '400'])
q12 = q12.append(pd.Series([500, 'php']), ignore_index=True)
q12

C:\Users\faizm\AppData\Local\Temp\ipykernel_5504\508795828.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  q12 = q12.append(pd.Series([500, 'php']), ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

Write a Pandas program to create a subset of a given series based on value and condition.

In [81]:
q13 = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q13[q13 <= 5]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

Write a Pandas program to change the order of index of a given series.

In [82]:
q14 = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
q14.reindex(['B','A', 'C', 'D', 'E'])
q14.reindex(index=['B','A', 'C', 'D', 'E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

 Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [83]:
q15 = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])

st_d = q15.std()
avg = q15.mean()

st_d, avg

(2.522624895547565, 4.818181818181818)

Write a Pandas program to get the items of a given series not present in another given series.

In [84]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

result = sr1[~sr1.isin(sr2)] # Checking what from the first list is not in the second list
result

0    1
2    3
4    5
dtype: int64

Write a Pandas program to get the items which are not common of two given series.

In [85]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2)) # A series of all the numbers from both series, with no duplicates
sr22 = pd.Series(np.intersect1d(sr1, sr2)) # A series of common numbers
result = sr11[~sr11.isin(sr22)] # Checking to see what numbers are not in the common series
print(result)

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series

In [86]:
nums = np.random.RandomState(100)
nums_series = pd.Series(nums.normal(10, 4, 20)) # loc(mean_centre), scale(standard deviation), size(size)

res = np.percentile(nums_series, q=[0, 25, 50, 75, 100]) # select the values from the array at given percentiles
print(res)

[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [87]:
numbers = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
result = numbers.value_counts()
result

6    6
7    6
9    6
8    5
5    4
0    4
2    3
1    2
3    2
4    2
dtype: int64

Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [88]:
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
num_series

Original Series:
0     4
1     3
2     3
3     2
4     3
5     1
6     4
7     1
8     1
9     4
10    2
11    1
12    1
13    2
14    4
dtype: int32
Top 2 Freq: 1    5
4    4
3    3
2    3
dtype: int64

0     Other
1     Other
2     Other
3     Other
4     Other
5         1
6     Other
7         1
8         1
9     Other
10    Other
11        1
12        1
13    Other
14    Other
dtype: object

Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [89]:
q21 = pd.Series(np.random.randint(1, 10, 9))
res = np.where(q21 % 5 == 0)
res

(array([3, 6], dtype=int64),)

Write a Pandas program to extract items at given positions of a given series.

In [90]:
q22 = pd.Series(np.random.randint(0, 10, 22))
q22.take([0, 2, 3, 11]) # Selecting numbers based on index

0     5
2     2
3     4
11    1
dtype: int32

Write a Pandas program to get the positions of items of a given series in another given series.

In [91]:
q23a = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q23b = pd.Series([1, 3, 5, 7, 10])
result = [pd.Index(q23a).get_loc(i) for i in q23b]
print("Positions of items of series2 in series1:")
result

Positions of items of series2 in series1:

[0, 2, 4, 6, 9]

Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [92]:
q24 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(q24)
result = q24.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

Write a Pandas program to calculate the number of characters in each word in a given series.

In [93]:
q25 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(q25)
result = q25.map(lambda x: len(x))
print("\nNumber of characters in each word in the said series:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [94]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print("Original Series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

Write a Pandas program to convert a series of date strings to a timeseries.

In [95]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [97]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())
print("Day of week:")
# print(date_series.dt.weekday_name.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:

C:\Users\faizm\AppData\Local\Temp\ipykernel_5504\867739115.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print(date_series.dt.weekofyear.tolist())