In [1]:
import pandas as pd
import numpy as np

Creating a series out of a list

In [2]:
x = pd.Series([10, 20, 30, 40, 50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

Allows us to assign the Series our own index

In [4]:
x.index = ['A', 'B', 'C', 'D', 'E']
x

A    10
B    20
C    30
D    40
E    50
dtype: int64

Creating a Series with label-based index

In [5]:
data = [450, 650, 870]
Sales = pd.Series(data, index=['Don', 'Mike', 'Edwin'])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

Accessing the Index

In [6]:
print(Sales.index)

Index(['Don', 'Mike', 'Edwin'], dtype='object')

Accessing the Values

In [7]:
print(f'Values are {Sales.values}')
print(f'Data type stored in Series is {Sales.dtype}')

Values are [450 650 870]
Data type stored in Series is int64

Accessing specific information

In [8]:
Sales[1]

650

In [9]:
Sales['Mike']

650

In [10]:
Sales > 500

Don      False
Mike      True
Edwin     True
dtype: bool

In [11]:
Sales[Sales > 500]

Mike     650
Edwin    870
dtype: int64

Lets you turn a series into a Dictionary, useful for json

In [13]:
sales_dict = Sales.to_dict()
sales_dict

{'Don': 450, 'Mike': 650, 'Edwin': 870}