Establish Connection

In [2]:
import pymongo
try: 
    client = pymongo.MongoClient('localhost', 27017) # establish connection
    print('Connection Successful')
except:
    print('Uh oh, me no connect')

db = client['starwars'] # choosing or defining a database
col = db['people'] # choosing or defining a collection

Connection Successful

### Insert Data

'database'.'collection'.insert_one('data')

Import all the data using python

In [55]:
import os
import json
os.chdir("D:/faizm/Documents/SpartaGlobal/Data204Notes/mongodb")
for file in os.listdir('Star_Wars_Files'):
    with open(f'Star_Wars_Files\{file}') as f:
        file_data = json.load(f)
    
    if isinstance(file_data, list):
        col.insert_many(file_data)
    else:
        col.insert_one(file_data)

Import all the data using Git Bash

'cd into the folder where the json files are in'
'for i in *.json'\
'> do'\
'> mongoimport --db starwars --collection people --jsonArray -- file $i'

### Find

Prints the names of each person in the collection 'people'.\
To print the information you can for loop through the object\
 OR you can cast it to a list.

In [ ]:
people = db.people.find({})

people_names = db.people.find({}, {'name':1, '_id':0})

luke = db.people.find_one({'name': 'Luke Skywalker'})

droids = db.people.find({'species.name': 'Droid'}, {'name': 1, 'species.name': 1, '_id': 0})

# for person in people:
#     print(person['name'])

for document in droids: # Loop through the documents in our query/object
    print(document)

print(luke) # Prints the single document matching our filter assigned to it

Exercise:
1. Find the height of Darth Vader, only return results for the name and the height.
2. Find all characters with yellow eyes, only return results for the names of the characters.
3. Find male characters. Limit your results to only show the first 3.
4. Find the names of all the humans whose homeworld is Alderaan.

Find the height of Darth Vader, only return results for the name and the height.

In [78]:
darthvader = db.people.find( {'name': 'Darth Vader'}, {'name': 1, 'height': 1, '_id': 0})

darthvader1 = db.people.find_one( {'name': 'Darth Vader'}, {'name': 1, 'height': 1, '_id': 0})

for document in darthvader:
    print(document)

print(darthvader1)

{'name': 'Darth Vader', 'height': '202'}
{'name': 'Darth Vader', 'height': '202'}

Find all characters with yellow eyes, only return results for the names of the characters.

In [72]:
yellow_eye = db.people.find( {'eye_color': 'yellow'}, {'name': 1, '_id': 0})

for document in yellow_eye:
    print(document)

{'name': 'C-3PO'}
{'name': 'Darth Maul'}
{'name': 'Darth Vader'}
{'name': 'Dexter Jettster'}
{'name': 'Dud Bolt'}
{'name': 'Ki-Adi-Mundi'}
{'name': 'Palpatine'}
{'name': 'Poggle the Lesser'}
{'name': 'Watto'}
{'name': 'Yarael Poof'}
{'name': 'Zam Wesell'}

Find male characters. Limit your results to only show the first 3.

In [74]:
males = db.people.find( {'gender': 'male'}, {'name': 1, '_id': 0}).limit(3)

for document in males:
    print(document)

{'name': 'Ackbar'}
{'name': 'Anakin Skywalker'}
{'name': 'Arvel Crynyd'}

Find the names of all the humans whose homeworld is Alderaan.

In [86]:
alderaan = db.people.find( {'homeworld.name': 'Alderaan', 'species.name': 'Human'}, {'name': 1, '_id': 0} )

alderaan1 = db.people.find( {'$and': [ {'homeworld.name': 'Alderaan'}, { 'species.name': 'Human'} ] }, {'name': 1, '_id': 0} )

for document in alderaan:
    print(document)

for document in alderaan1:
    print(document)

{'name': 'Bail Prestor Organa'}
{'name': 'Leia Organa'}
{'name': 'Raymus Antilles'}
{'name': 'Bail Prestor Organa'}
{'name': 'Leia Organa'}
{'name': 'Raymus Antilles'}

In [102]:
h_and_m = db.people.find({}, {'height': 1, 'mass': 1, '_id': 0})

for document in h_and_m:
    print(document)

{'height': 180, 'mass': 83.0}
{'height': 184, 'mass': 50.0}
{'height': 188, 'mass': 84.0}
{'height': None, 'mass': None}
{'height': 178, 'mass': 55.0}
{'height': 191, 'mass': None}
{'height': 166, 'mass': 50.0}
{'height': None, 'mass': None}
{'height': 163, 'mass': 65.0}
{'height': 165, 'mass': 75.0}
{'height': 180, 'mass': None}
{'height': 183, 'mass': 84.0}
{'height': 183, 'mass': 78.2}
{'height': 190, 'mass': 113.0}
{'height': 167, 'mass': 75.0}
{'height': None, 'mass': None}
{'height': 228, 'mass': 112.0}
{'height': 183, 'mass': None}
{'height': 157, 'mass': None}
{'height': 175, 'mass': 80.0}
{'height': 202, 'mass': 136.0}
{'height': 198, 'mass': 102.0}
{'height': 193, 'mass': 80.0}
{'height': 165, 'mass': None}
{'height': 94, 'mass': 45.0}
{'height': 171, 'mass': None}
{'height': 170, 'mass': None}
{'height': None, 'mass': None}
{'height': 122, 'mass': None}
{'height': 173, 'mass': 74.0}
{'height': 185, 'mass': 85.0}
{'height': 216, 'mass': 159.0}
{'height': 180, 'mass': 80.0}
{'height': 200, 'mass': 140.0}
{'height': 175, 'mass': 1358.0}
{'height': 183, 'mass': 79.0}
{'height': 196, 'mass': 66.0}
{'height': 180, 'mass': 110.0}
{'height': 167, 'mass': None}
{'height': 198, 'mass': 82.0}
{'height': 196, 'mass': 87.0}
{'height': 229, 'mass': 88.0}
{'height': 177, 'mass': 79.0}
{'height': 150, 'mass': 49.0}
{'height': 175, 'mass': 79.0}
{'height': 172, 'mass': 77.0}
{'height': 170, 'mass': 56.2}
{'height': 188, 'mass': 84.0}
{'height': 196, 'mass': None}
{'height': 150, 'mass': None}
{'height': 160, 'mass': 68.0}
{'height': 191, 'mass': 90.0}
{'height': 182, 'mass': 77.0}
{'height': 178, 'mass': 120.0}
{'height': 165, 'mass': 45.0}
{'height': 170, 'mass': 75.0}
{'height': 188, 'mass': 80.0}
{'height': None, 'mass': None}
{'height': 183, 'mass': 80.0}
{'height': 183, 'mass': None}
{'height': 193, 'mass': 89.0}
{'height': 96, 'mass': 32.0}
{'height': 96, 'mass': None}
{'height': 97, 'mass': 32.0}
{'height': 79, 'mass': 15.0}
{'height': 188, 'mass': 79.0}
{'height': None, 'mass': None}
{'height': 183, 'mass': None}
{'height': 224, 'mass': 82.0}
{'height': 206, 'mass': None}
{'height': 188, 'mass': None}
{'height': 191, 'mass': None}
{'height': 112, 'mass': 40.0}
{'height': 178, 'mass': 57.0}
{'height': 163, 'mass': None}
{'height': 178, 'mass': 48.0}
{'height': 234, 'mass': 136.0}
{'height': 213, 'mass': None}
{'height': 206, 'mass': 80.0}
{'height': 137, 'mass': None}
{'height': 193, 'mass': 48.0}
{'height': 170, 'mass': 77.0}
{'height': 88, 'mass': 20.0}
{'height': 180, 'mass': None}
{'height': 264, 'mass': None}
{'height': 66, 'mass': 17.0}
{'height': 168, 'mass': 55.0}

Average height for femail characters\
Get female heights\
Group everything together\
$avg to find average

Change all unknown values for mass to an empty string

In [93]:
db.people.update_many( {'mass': 'unknown'}, {'$unset': {'mass': ''} } )

Changing the height field values to be integars

In [98]:
db.people.update_many({}, [ {
    '$set': {
        'height': {
            '$toInt': '$height'
        }
    }
} ] )

Changing the mass field values to doubles

In [101]:
db.people.update_many({}, [ {
    '$set': {
        'mass': {
            '$toDouble': '$mass'
        }
    }
} ] )

Edit a individual bit of data

In [99]:
db.people.update_one( {'mass': '1,358'}, {'$set': {'mass': '1358'} } )

Count number of documents with mass equal to none

In [107]:
count_mass = db.people.count_documents({'mass': None})
print(count_mass)

28

In [108]:
avg_f_height = db.people.aggregate( [ 
    {'$match': {'gender': 'female'}}, 
    {'$group': 
        {'_id': '$gender', 
        'averageHeight': {'$avg': '$height'}, 
        'averageMass': {'$avg': '$mass'} 
        } }
    ] )

for document in avg_f_height:
    print(document)

{'_id': 'female', 'averageHeight': 165.47058823529412, 'averageMass': 54.02}