In [2]:
import pandas as pd
import numpy as np
import boto3
from io import BytesIO, StringIO
import datetime

Takes all CSV from Academy, assigns it to a pandas dataframe

In [3]:
path = 's3://data-eng-204-final-project/Academy/'
s3 = boto3.resource('s3')
bucket = s3.Bucket('data-eng-204-final-project')

prefix_obj = bucket.objects.filter(Prefix='Academy/')

prefix_df = []

for obj in prefix_obj:
    key = obj.key
    body = obj.get()['Body'].read()
    temp = pd.read_csv(BytesIO(body), encoding='utf8', sep=',')
    prefix_df.append(temp)

df_h = pd.concat(prefix_df)

In [4]:
df_h

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Quintus Penella,Gregor Gomez,1,2,2,1,2,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Simon Murrey,Gregor Gomez,6,1,1,2,4,2,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gustaf Lude,Gregor Gomez,6,4,1,1,2,3,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Yolanda Fosse,Gregor Gomez,2,1,2,3,3,3,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lynnett Swin,Gregor Gomez,2,2,4,5,1,2,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Moritz Mosedall,Mohammad Velazquez,1,1,5,1,2,6,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Chaim Inseal,Mohammad Velazquez,1,3,3,4,1,2,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Gertruda Syddie,Mohammad Velazquez,3,1,2,8,1,4,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Thom Derwin,Mohammad Velazquez,3,7,3,3,3,1,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Godfry Sephton,Mohammad Velazquez,4,2,5,1,1,2,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Schema for academy csv

'name' STRING,          [candidate_id PK FK INT]
'trainer',              [trainer_id FK INT]
'Analytic_W1' INT, 
'Independent_W1' INT, 
'Determined_W1' INT,
'Professional_W1' INT, 
'Studious_W1' INT, 
'Imaginative_W1' INT
'Independent_W2' INT, 
'Determined_W2' INT, 
'Professional_W2' INT, 
'Studious_W2' INT,       
'Imaginative_W2' INT, 
'Analytic_W3' INT, 
'Independent_W3' INT, 
'Determined_W3' INT,
'Professional_W3' INT, 
'Studious_W3' INT, 
'Imaginative_W3' INT, 
'Analytic_W4' INT,
'Independent_W4' INT, 
'Determined_W4' INT, 
'Professional_W4' INT, 
'Studious_W4' INT,
'Imaginative_W4' INT, 
'Analytic_W5' INT, 
'Independent_W5' INT, 
'Determined_W5' INT,
'Professional_W5' INT, 
'Studious_W5' INT, 
'Imaginative_W5' INT, 
'Analytic_W6' INT,
'Independent_W6' INT, 
'Determined_W6' INT, 
'Professional_W6' INT, 
'Studious_W6' INT,
'Imaginative_W6' INT, 
'Analytic_W7' INT, 
'Independent_W7' INT, 
'Determined_W7' INT,
'Professional_W7' INT, 
'Studious_W7' INT, 
'Imaginative_W7' INT, 
'Analytic_W8' INT,
'Independent_W8' INT, 
'Determined_W8' INT, 
'Professional_W8' INT, 
'Studious_W8' INT,
'Imaginative_W8' INT, 
'Analytic_W9' INT, 
'Independent_W9' INT, 
'Determined_W9' INT,
'Professional_W9' INT, 
'Studious_W9' INT, 
'Imaginative_W9' INT, 
'Analytic_W10' INT,
'Independent_W10' INT, 
'Determined_W10' INT, 
'Professional_W10' INT, 
'Studious_W10' INT,
'Imaginative_W10' INT

# Sprint task

- Downloads files from s3 bucket\
aws s3 sync s3://data-eng-204-final-project/Talent ./data
- Cleans txt files to output to a csv

In [5]:
def file_type_picker(bucket_name='data-eng-204-final-project', file_type='.txt'):    
    bucket_name = bucket_name
    s3_client = boto3.client('s3')
    file_names = []
    paginator = s3_client.get_paginator('list_objects_v2')
    results = paginator.paginate(Bucket=bucket_name)
    for page in results:
        if "Contents" in page:
            for key in page[ "Contents" ]:
                keyString = key[ "Key" ]
                if file_type in keyString:
                    file_names.append(keyString[7:])
    return file_names

In [6]:
def text_cleaner(file_name):
    file = open(file_name,'r')
    topology_list = file.readlines()
    formats = "%d %B %Y"

    my_dict = {
        'name': [],
        'date': [],
        'academy': [],
        'presentation': [],
        'pyschometrics': []
    }

    for i, c in enumerate(topology_list):
        if i == 0:
            date = str(c[:-1])
            date = date.replace("Monday ", "").replace("Tuesday ", '').replace("Wednesday ", '').replace("Thursday ", '').replace("Friday ", '')
            date_cleaned = datetime.datetime.strptime(date, formats)
        elif i == 1:
            academy = str(c[:-9])
        elif i >= 3:
            pres_score = int(c[-6:-4])
            my_dict['presentation'].append(pres_score)
            psych_score = int(c[-28:-26])
            psych_p = psych_score
            my_dict['pyschometrics'].append(psych_score)
            name = str(c[0:-47])
            my_dict['name'].append(name)
            my_dict['academy'].append(academy)
            my_dict['date'].append(date_cleaned)
    return pd.DataFrame(my_dict)

In [7]:
temp = []

for file in file_type_picker():
    temp.append(text_cleaner(f'data/{file}'))

df1 = pd.concat(temp)

In [8]:
df1

                name       date     academy  presentation  pyschometrics
0    HILARY WILLMORE 2019-08-01  Birmingham            19             51
1        ORLY LORENS 2019-08-01  Birmingham            19             51
2     ALVIE BLEACKLY 2019-08-01  Birmingham            16             55
3      DECK ITZCHAKI 2019-08-01  Birmingham            21             59
4       WILT PENRITT 2019-08-01  Birmingham            25             66
..               ...        ...         ...           ...            ...
15     GODIVA ANDREW 2019-10-09      London            19             46
16    DORALIA GAPPER 2019-10-09      London            22             55
17        DOE EISOLD 2019-10-09      London            20             57
18      JUDY FINDERS 2019-10-09      London            22             56
19  LORINDA O'CROTTY 2019-10-09      London            20             42

[4134 rows x 5 columns]

In [9]:
# df1.to_csv('output.csv', index=False)